.spContainer {
    width: 100%;
    max-width: 380px;
}
.card {
    border-radius: 8px;
    transition: 0.25s;
}
.card:hover {
    transition: 0.25s;
}

.inpSp {
    background-color: #ebebeb;
    border: none;
    transition: 0.25s;
    padding-left: 25px;
    font-weight: light !important;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
}
.inpSp:hover {
    transition: 0.25s;
    background-color: #dbdbdb;
}
.inpSp:focus {
    background-color: #ebebeb;
    box-shadow: 0 8px 8px 0px #f1f1f1;
}
.regStr:hover {
    border-bottom: 2px solid #ff425f;
    padding-bottom: 8px;
    transition: 0.25s;
    text-decoration: none;
    color: #212519;
}

.btn-sm {
    font-weight: 300;
}
.btn-sm:hover {
    font-weight: 900;
}
.cent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
